<main class="main__container">
    <section>
        <div class="contenido">
            <div class="bg__section"></div>
            <div class="contenido-caja">
                <h2 style="z-index: 2;">A little <br> Christian boy
                </h2>
                <div class="textoW2">
                    <span class="auto_type"></span>
                </div>
            </div>
            <div class="container__scroll__mouse">
                <div class="mouse__scroll__section">
                    <a href="#intro" class="mouse__scroll"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-info" id="intro">
        <div class="contenido">
            <div class="content-info">
                <img src="https://res.cloudinary.com/primalappsje/image/upload/v1650599813/primal/A_Little_Christian_Boy-logo-white_xkbhel.png"
                    alt="A little christian boy logo">
                <div class="content-text gs_reveal">
                    <p>A little Christian Boy es un proyecto personal
                        que tiene como
                        primera instancia compartir mediante mis conocimientos en programación web
                        cuan grande es el amor de Dios, el mismo que
                        fue el motor fundamental en mi salida del mundo de la drogadicción. Como segunda
                        instancia lo hago por el llamamiento de Dios, que aun sin merecerlo, él ha sido tan
                        misericordioso
                        y me ha llamado su hijo.
                        <br>
                        A continuación les compartiré algunos de los versículos que han tocado mi corazón <i
                            class="fa-solid fa-heart"></i>.
                    </p>
                </div>
            </div>
            <div class="container__scroll__mouse">
                <div class="mouse__scroll__section">
                    <a href="#verses" class="mouse__scroll"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="features6 cid-s8XeElbghg" id="verses">




        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row row-center">
                        <div class="card p-3 col-12">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img
                                        src="https://res.cloudinary.com/primalappsje/image/upload/v1652158240/primal/SuGraciasEsSuficiente_vpx0sc.jpg">
                                </div>
                                <div class="card-box">

                                    <p class="card-title align-center mbr-white mbr-fonts-style">
                                        pero él me ha dicho: «Con mi gracia tienes más que suficiente, porque mi
                                        poder
                                        se perfecciona en la debilidad.» Por eso, con mucho gusto habré de jactarme en
                                        mis debilidades,
                                        para
                                        que el poder de Cristo repose en mí.
                                        <br>
                                        <span class="mbr-text align-center mbr-white mbr-fonts-style display-5"><strong>2
                                                Corintios 12:9</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="card p-3 col-lg-6 col-12">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img
                                        src="https://res.cloudinary.com/primalappsje/image/upload/v1652160063/primal/SEABG_elhgbp.jpg">
                                </div>
                                <div class="card-box">

                                    <p class="card-title align-center mbr-white mbr-fonts-style">
                                        Todos nosotros nos hemos extraviado como ovejas; hemos dejado los caminos de
                                        Dios para seguir los nuestros. Sin embargo, el Señor puso sobre él los pecados
                                        de todos
                                        nosotros.
                                        nosotros.
                                        <br>
                                        <span class="mbr-text align-center mbr-white mbr-fonts-style display-5"><strong>2
                                                Isaías 53:6</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card p-3 col-lg-6 col-12">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img
                                        src="https://res.cloudinary.com/primalappsje/image/upload/v1652159968/primal/Tectonic_Grey_qqznds.jpg">
                                </div>
                                <div class="card-box">

                                    <p class="card-title align-center mbr-white mbr-fonts-style">
                                        Pero ustedes, mis queridos hijos, pertenecen a Dios. Ya lograron la
                                        victoria
                                        sobre esas personas, porque el Espíritu que vive en ustedes es más poderoso que
                                        el espíritu que
                                        vive
                                        en el mundo.
                                        <br>
                                        <span class="mbr-text align-center mbr-white mbr-fonts-style display-5"><strong>2
                                                1 Juan 4:4</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card p-3 col-lg-12 col-12">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img
                                        src="https://res.cloudinary.com/primalappsje/image/upload/v1652160608/primal/TreesBG_qfgykn.jpg">
                                </div>
                                <div class="card-box">

                                    <p class="card-title align-center mbr-white mbr-fonts-style">
                                        En esto consiste el amor: no en que nosotros hayamos amado a Dios, sino en
                                        que
                                        él nos amó y envió a su Hijo para que fuera ofrecido como
                                        sacrificio por el perdón de nuestros pecados.
                                        <br>
                                        <span class="mbr-text align-center mbr-white mbr-fonts-style display-5"><strong>2
                                                1 Juan 4:10</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="card p-3 col-12">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img
                                        src="https://res.cloudinary.com/primalappsje/image/upload/v1652160418/primal/mountainBG_rdoiqg.jpg">
                                </div>
                                <div class="card-box">

                                    <p class="card-title align-center mbr-white mbr-fonts-style">
                                        Ya conocen la gracia de nuestro Señor Jesucristo, que, aunque era rico, por
                                        causa de ustedes se hizo pobre, para que mediante su pobreza ustedes llegaran a
                                        ser ricos.
                                        <br>
                                        <span class="mbr-text align-center mbr-white mbr-fonts-style display-5"><strong>2
                                                2 Corintios 8:9</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card p-3 col-12">
                            <div class="card-wrapper">
                                <div class="card-img">
                                    <img
                                        src="https://res.cloudinary.com/primalappsje/image/upload/v1652160692/primal/artBG_qlnmyr.jpg">
                                </div>
                                <div class="card-box">

                                    <p class="card-title align-center mbr-white mbr-fonts-style">
                                        Por lo tanto, permitir que la naturaleza pecaminosa les controle la mente
                                        lleva
                                        a la muerte. Pero permitir que el Espíritu les controle la mente lleva a la vida
                                        y a la paz.
                                        <br>
                                        <span class="mbr-text align-center mbr-white mbr-fonts-style display-5"><strong>2
                                                Romanos 8:6</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section__sticky">
        <div class="parallax__">
            <div class="parrallax__content jarallax">
                <div class="imgBx">
                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1650100247/primal/Hebreos_12-11_evchdo.jpg"
                        alt="versiculo biblico Hebreos 12:11" class="jarallax-img">
                </div>
                <div class="parrallax__text" data-jarallax-element="-200 0">
                    <h5>Ninguna disciplina resulta agradable a la hora de recibirla. Al contrario, ¡es
                        dolorosa! Pero después, produce la apacible cosecha de una vida recta para los que han sido
                        entrenados por ella.</h5>
                    <p>Hebreos 12:11</p>
                    <a href="https://my.bible.com/es/bible/127/HEB.12.NTV" target="__blank">
                        <button type="button">Leer mas</button>
                    </a>
                </div>
            </div>
            <div class="text__parallax">
                <div class="letras__primal__s" style="z-index: 1;" id="wrap">
                    <p>la voluntad de Dios para ustedes, la cual es buena, agradable
                        y perfecta.</p>
                    <span>-Romanos 12:2</span>
                </div>
            </div>
        </div>
    </section>
    <section class="progress-bars1 cid-s8XeLFijPd" id="skills">
        <div class="container">


            <div class="row">
                <div class="col-md-12 col-lg-6 text-elements pb-4 md-pb">
                    <h3 class="mbr-section-subtitle mbr-fonts-style align-left mb-3 display-4" style="font-family: 'Vollkorn', sans-serif;">Mis habilidades</h3>
                    <h4 class="section-content-title pb-3 align-left mbr-fonts-style display-5" style="font-family: 'Josefin Sans', sans-serif";><strong>Construyendo
                            nuevas experiencias</strong>
                    </h4>
                    <i class="fa-solid fa-hammer" id="hammer"></i>
                </div>
                <div class="progress_elements col-md-12 col-lg-6 pt-4">
                    <div class="progress1 pb-5">
                        <div class="title-wrap">
                            <div class="progressbar-title mbr-fonts-style display-7">
                                <div class="name">Front-end <i class="fa-brands fa-html5"></i><i
                                        class="fa-brands fa-css3-alt"></i> <i class="fa-brands fa-js"></i></div>
                            </div>
                            <div class="progress_value mbr-fonts-style display-7">
                                <div class="progressbar-number">
                                </div>
                                <span>%</span>
                            </div>
                        </div>
                        <progress class="progress progress-primary " max="100" value="85">
                        </progress>
                    </div>

                    <div class="progress2 pb-5">
                        <div class="title-wrap">
                            <div class="progressbar-title mbr-fonts-style display-7">
                                <div class="name">Back-end <i class="fa-brands fa-node-js"></i><i
                                        class="fa-brands fa-python"></i><i class="fa-brands fa-php"></i></div>
                            </div>
                            <div class="progress_value mbr-fonts-style display-7">
                                <div class="progressbar-number">
                                </div>
                                <span>%</span>
                            </div>
                        </div>
                        <progress class="progress progress-primary" max="100" value="34">
                        </progress>
                    </div>

                    <div class="progress3 pb-5">
                        <div class="title-wrap">
                            <div class="progressbar-title mbr-fonts-style display-7">
                                <div class="name">Python <i class="fa-brands fa-python"></i></div>
                            </div>
                            <div class="progress_value mbr-fonts-style display-7">
                                <div class="progressbar-number">
                                </div>
                                <span>%</span>
                            </div>
                        </div>
                        <progress class="progress progress-primary" max="100" value="45">
                        </progress>
                    </div>

                    <div class="progress4 pb-5">
                        <div class="title-wrap">
                            <div class="progressbar-title mbr-fonts-style display-7">
                                <div class="name">React <i class="fa-brands fa-react"></i></div>
                            </div>
                            <div class="progress_value mbr-fonts-style display-7">
                                <div class="progressbar-number">
                                </div>
                                <span>%</span>
                            </div>
                        </div>
                        <progress class="progress progress-primary" max="100" value="16">
                        </progress>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="about__ section__sticky" id="about">
        <div class="about__content">
            <div class="c-glitch"
                style="background-image: url('https://res.cloudinary.com/primalappsje/image/upload/v1650103440/primal/pexels-tom%C3%A9-louro-1666779_hbf4vq.jpg');">
                <div class="c-glitch__img"
                    style="background-image: url('https://res.cloudinary.com/primalappsje/image/upload/v1650103440/primal/pexels-tom%C3%A9-louro-1666779_hbf4vq.jpg');">
                </div>
                <div class="c-glitch__img"
                    style="background-image: url('https://res.cloudinary.com/primalappsje/image/upload/v1650103440/primal/pexels-tom%C3%A9-louro-1666779_hbf4vq.jpg');">
                </div>
                <div class="c-glitch__img"
                    style="background-image: url('https://res.cloudinary.com/primalappsje/image/upload/v1650103440/primal/pexels-tom%C3%A9-louro-1666779_hbf4vq.jpg');">
                </div>
                <div class="c-glitch__img"
                    style="background-image: url('https://res.cloudinary.com/primalappsje/image/upload/v1650103440/primal/pexels-tom%C3%A9-louro-1666779_hbf4vq.jpg');">
                </div>
                <div class="c-glitch__img"
                    style="background-image: url('https://res.cloudinary.com/primalappsje/image/upload/v1650103440/primal/pexels-tom%C3%A9-louro-1666779_hbf4vq.jpg');">
                </div>
            </div>
            <div class="about__text" style="z-index: 3;">
                <h1>Acerca de</h1>
                <h5>A little Christian boy</h5>
                <p>Hola! mi nombre es Joseph Santamaria y soy un pequeño joven cristiano
                    que
                    tiene "el don" de caer más
                    de una vez pero que por la infinita gracia que Jesús nos ha regalado se ha levantado más de mil.
                </p>
                <button type="button">Leer mas</button>
            </div>
        </div>
    </section>

</main>