<section class="section-projects-container">
        <div class="container_tittle_projects">
            <div class="content_tittle_projects">
                <h3>
                    Proyectos
                </h3>
            </div>
        </div>
        <div class="container-projects">
            <div class="content_projects_only jarallax">
                <div class="img_box">
                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1652239027/primal/Logo-looper-background-include_hxhhbp.png"
                        alt="Logo-repetidor-de-mensajes" class="jarallax-img">
                </div>
            </div>
            <div class="content_text_projects">
                <div class="box_text_projects">
                    <span>Looper</span>
                    <h5>Aplicación de automatización de envío de multiples mensajes en una entrada
                        de
                        texto.</h5>                    
                    <br>
                    <a id='refer' href="" target="__blank">
                        <button type="button">Descargar</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-projects" style="flex-direction: row-reverse;">
            <div class="content_projects_only jarallax">
                <div class="img_box">
                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1652237892/primal/login-test_zquj9z.png"
                        alt="login-window" class="jarallax-img">
                </div>
            </div>
            <div class="content_text_projects">
                <div class="box_text_projects">
                    <span>Login Test</span>
                    <h5>Una simple prueba de registo de usuarios, donde una vez registrado puedes dejar comentarios
                        públicos.</h5>
                    <br>
                    <a href="https://primal-login.herokuapp.com/" target="__blank">
                        <button type="button">Visitar sitio</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-projects">
            <div class="content_projects_only jarallax">
                <div class="img_box">
                    <img src="https://res.cloudinary.com/primalappsje/image/upload/v1652238047/primal/under-construction_eyffex.jpg"
                        alt="proximamente" class="jarallax-img">
                </div>
            </div>
            <div class="content_text_projects">
                <div class="box_text_projects">
                    <span>Próximamente</span>
                    <h5>Desarrollo freelance de aplicaciones web, móviles y de escritorio.</h5>
                    <br>
                    <a href="" target="__blank">
                        <button type="button">Leer mas</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
<div>
    <section class="colorBlackP">
        <div class="container-lp">
            <div class="containerText" id="text__p__3">
                <div class="letras__primal__s" style="z-index: 1;" id="wrap">
                    <p>El que tiene mis mandamientos, y los guarda, ese es el que me ama; y el que me ama, será
                        amado por mi Padre, y yo le amaré, y me manifestaré a él.</p>
                    <span>-Juan 14:21</span>
                </div>
            </div>
        </div>
    </section>
</div>