
<footer class="colorBlackP" id="contact" itemscope itemtype="http://schema.org/WPFooter">
    <div class="container-logoanim">
        <img src="/img/alcb-logo-white.png" alt="primal logo" class="logoPrimal">
    </div>
    <div class="footer__contacts">

            <a href="https://www.facebook.com/joseph.santamaria.75491" target="__blank">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        
            <a href="https://twitter.com/JosephSan23" target="__blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
        
            <a href="https://www.instagram.com/joseph_santaamaria" target="__blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        
            <a href="https://www.reddit.com/user/Alexis_Santamaria" target="__blank">
                <i class="fa-brands fa-reddit"></i>
            </a>
        
            <a href="https://wa.me/+593995528427?text=Hola!%20" target="__blank">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        
    </div>
    <nav id="nav__footer" class="container border-bottom py-3 mb-3">
        <a href="/">Home</a>
        <a href="#skills" onclick="toggleMenu__skills();">Skills</a>
        <a href="contact">Contacto</a>
        <a href="#about">Acerca de</a>
    </nav>
    <div>
        <div class="container-primalinc">
            <div class="content-inc">
                <p>© 2022 A little christian boy, Inc</p>
            </div>
        </div>
    </div>
</footer>
