
<footer class="colorBlackP" id="contact">
    <div class="container-logoanim">
        <img src="/img/LogoToAnimateWhite.png" alt="primal logo" class="logoPrimal">
    </div>
    <div class="footer__contacts">
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-reddit"></i>
            </a>
        </div>
        <div class="footer__contacts__d">
            <a class="">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </div>
    <nav id="nav__footer" class="container border-bottom py-3 mb-3">
        <a href="/">Home</a>
        <a href="#skills" onclick="toggleMenu__skills();">Skills</a>
        <a>Contacto</a>
        <a href="#about">Acerca de</a>
    </nav>
    <div>
        <div class="container-primalinc">
            <div class="content-inc">
                <p>© 2022 Primal, Inc</p>
            </div>
        </div>
    </div>
</footer>
