<section>
    <div class="navMenucontainer toggle__" onclick="toggleMenu__();">
        <div id="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar__">
        <ul class="body_slidebar">
            <li style="--clr:#ffcc74">
                <a data-text="&nbsp;home" href="/" class="font__Josefin">
                    &nbsp;Home&nbsp;
                </a>
            </li>
            <li style="--clr:#ffcc74">
                <a data-text="&nbsp;skills" href="#skills" class="btn_open_skills font__Josefin"
                    onclick="toggleMenu__skills();">
                    &nbsp;Skills&nbsp;
                </a>
            </li>
            <li style="--clr:#ffcc74">
                <a data-text="&nbsp;proyectos" href="projects" class="font__Josefin">
                    &nbsp;Proyectos&nbsp;
                </a>
            </li>
            <li style="--clr:#ffcc74">
                <a data-text="&nbsp;About" href="#about" class="font__Josefin">
                    &nbsp;About&nbsp;
                </a>
            </li>
            <li style="--clr:#ffcc74">
                <a data-text="&nbsp;contacto" href="#contact" class="font__Josefin">
                    &nbsp;Contacto&nbsp;
                </a>
            </li>
        </ul>
    </div>
</section>



<nav id="navbar_move" class="navbar" style="z-index: 3;">
    <div class="container-navbar">
        <img class="logo__hover" src="/img/PrimalLogoLight48x48.png" alt="Primal Logo">
        <a href="/">Primal</a>
        <span
            title="Beta basicamente quiere decir que este sitio se caerá, y muchisimo. ademas que estara algo lento probablemente algunas veces">
            <p>Beta</p>
        </span>
    </div>

</nav>